In [1]:
import pandas as pd
pd.__version__

'2.3.0'

In [2]:
data = {
    "student": ["kiran", "suri", "Gopi", "Akhil"],
    "marks" : [100, 90, 100, 80]
}
df = pd.DataFrame(data)
df

  student  marks
0   kiran    100
1    suri     90
2    Gopi    100
3   Akhil     80