In [1]:
import pandas as pd
pd.__version__

'2.3.0'

## Pandas Categorical

### create a categorical series

In [2]:
data = ['a', 'b', 'c', 'd', '1']
ser = pd.Series(data, dtype="category")
ser

0    a
1    b
2    c
3    d
4    1
dtype: category
Categories (5, object): ['1', 'a', 'b', 'c', 'd']

### Create Categorical DataFrame

In [3]:
df = pd.DataFrame({"Cat1": list("pqrs"), "Cat2": list("pqrp"), "Cat3": list("qrrr")}, dtype="category")
print("DataFrame = \n", df)
 
# Display the datatypes
print("\nDataType of each column = \n", df.dtypes)

DataFrame =
   Cat1 Cat2 Cat3
0    p    p    q
1    q    q    r
2    r    r    r
3    s    p    r

DataType of each column =
 Cat1    category
Cat2    category
Cat3    category
dtype: object

In [4]:
for i,j in df.dtypes.items():
    print(i, j)

Cat1 category
Cat2 category
Cat3 category

## Pandas â€“ Indexing & Selecting

In [10]:
students = pd.read_excel("../data/sample_students.xlsx")
students.head()

   StudentID     Name  Age Grade  MathScore  EnglishScore
0          1    Alice   14   9th         88            90
1          2      Bob   15  10th         92            85
2          3  Charlie   14   9th         85            88
3          4    David   16  11th         90            92
4          5      Eva   15  10th         78            80